.task-container {
    color: #eee;
    background: #444;
    border-radius: 5px;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-container .task-title {
    cursor: pointer;
}

.task-container .buttons-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.task-container .buttons-container button {
    color: chartreuse;
    background: #444;
    border: none;
    font-size: 24px;
    cursor: pointer;
}